{{> header}}
<body>

    <header class="center-title-desc">
        {{#if (emptyObject messages)}}
        {{> flashmessage}}
        {{/if}}
        {{> navbar}}
        {{{body}}}
    </header>

    {{#if logged}}
        <script>
            let ele = document.getElementById('logout-button');
            if(ele) {
                ele.onclick = (even) => {
                    fetch('/users/logout', {
                        method: "POST"
                    })
                    .then((data) => {
                        location.replace('/');
                    })
                }
            }
        </script>
    {{/if}}
</body>

</html>