<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>View Post</title>
</head>
<body>
    <header class = "center-title-desc">
        <h1>View Post</h1>
    </header>
    <p>
    <section class = "center-title-desc">
        View individual image post below.
    </section>
    </p>
    <div class = "viewimg-border">
        <section><u>Post Title</u></section>
        <br>
        <section>Author</section>
        <br>
        <section>Creation Time: 24:00</section>
        <br>
        <img src="https://media.tenor.com/images/fcce3bdb396e1de1467334c69a231424/tenor.gif" alt="got_Eem.img">
    </div>
</body>
</html>