{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>User Login</title>
</head>
<body>
    <header class = "center-title-desc"> --}}
        <h1>Login Form</h1>
    </header>
    <p>
    <section class = "center-title-desc">
        This login form will require your username and password. Please press submit when finished or reset to start over.
    </section>
    </p>
    <br>
    <form id="submitform" method="POST" action="/users/login"
    enctype="application/x-www-form-urlencoded">
    <fieldset>
    <legend>Login</legend>

        <label>Username:</label>
        <input type="text" id="login_username" name="username" placeholder="Enter Username" required/>
        <br>
        <label>Password: </label>
        <input type="password" id="login_pass" name="password" placeholder="Enter Password" required/>
    </fieldset>
    <br>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
    </form>
{{!-- </body>
</html> --}}