@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    cursor: pointer;
    width: 50%; 
    height: 50%;
}

.nav_links {
    list-style: none;
    grid-area: header;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

body {
    color: rgba(199, 213, 224);
    font-family: Papyrus;
    padding-top: 50px;
    background-image: url(../images/cihm7wul5po51.png);
    background-size: cover;
    text-align: center;
    height: 100vh;
}

label, fieldset {
    font-family: monospace !important;
    width: 20%;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

fieldset {
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
    line-height: 2.5;
    margin-left: auto;
    margin-right: auto;
    background-color: #161616;
}

input {
    background-color: rgba(23, 26, 33);
    color:white;
    border-radius: 9px;
}

.center-title-desc {
    margin: 0 0 5px 0;
}

.viewimg-border {
    text-indent: 5px;
    border-radius: 15px !important;
    border-style: double !important;
    border-width: 5px !important;
    box-shadow: 2px 2px 2px lightgray !important;
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 14px !important;
}

/* Grid Container */
.center-title-desc {
    margin: 0 0 5px 0;
    display: grid;
    margin: 20px auto auto auto;
    gap: .15rem;
    grid-auto-rows: 20px 1fr;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header"
    "container container container container container"
    "container container container container container"
    "container container container container container";
}

.container {
    display: grid;
    grid-area: container;
    margin: 45px auto auto auto;
    margin-left: 15px;
    margin-right: 15px;
    grid-template-areas:
    "viewimg-border comments";
}

.image_grid {
    background-color: #24252A;
    border-radius: 1.5em;
    padding-top: 1.5em;
    padding-bottom: .05em;
    padding-left: 1em;
    padding-right: 1em;
    gap: 2.5% 0%;
    justify-items: center;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    grid-template-areas: 
    "card card card card"
    "card card card card"
    "card card card card";
}

.card {
    width: 250px;
    height: 400px;
    padding: 30px;
    border-radius: 15px;
    border-style: double;
    border-width: 2.5px;
}

.imagePostGrid {
    padding-top: .25em;
    padding-bottom: .25em;
    display: grid;
    gap: .2rem .2rem;
    justify-items: center;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

#comment-box {
    grid-area: comment-box;
    padding: 0.2rem;
    display: flex;
    width: 100%;
    padding-left: 0.2rem;
    border-radius: 0.35rem;
}

#comment-box-button {
    padding: .25rem;
    margin: .25rem;
    line-height: 2;
    font-size: 1.5rem;
}

#comment-container {
     display: grid;
     justify-self: stretch;
     grid-area: comments;
     grid-template-rows: auto 75px;
     grid-template-columns: 1fr;
     gap: 1rem;
     grid-template-areas: 
     "messages"
     "comment-box";
     max-height: 80vh;
     padding-right: 2rem;
}

#comment-box-text {
     justify-self: start;
     width: 80%;
     height: 115%;
     font-family: 'Georgia', Georgia, monospace;
     font-size: 18px;
     padding: 1px;
 }

#comment-box-button {
    color: wheat;
    width: 50px;
    height: 100%;
    border-radius: 10px;
    float: right;
    border-color: black;
    display: flex;
    align-items: center;
    padding-left: 0.25em;
    padding-right: 0.25em;
 }

#comment-box-button:hover {
    background: #24252A;
    cursor: pointer;
}

#messages {
    grid-area: messages;
    overflow-y: auto;
    display:flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
    border-radius: 15px !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 14px !important;
    text-align: left;
    width: 85%;
    line-height: 2.5;
    background-color: #161616;
    height: 500px;
}

.author-text {
    color: #f5f5f5;
}

div[id^=message-] {
    display: grid;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .2em;
    padding: .25rem;
    margin: .2rem;
    font-size: 1rem;
    border: .0625rem solid #ced4da;
    grid-template-areas:
    "author created"
    "comment comment";
}

span.date-posted {
    text-align: right;
}

img#image {
    width: 300px;
    margin-top: 10%;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
  
.alert-success hr {
    border-top-color: #b1dfbb;
}
  
.alert-success .alert-link {
    color: #0b2e13;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
.alert-danger hr {
    border-top-color: #f1b0b7;
}
  
.alert-danger .alert-link {
    color: #491217;
}

#flash-message {
    position: fixed;
    left: 50%;
    top: 16%;
    transform: translate(-50%, 0);
}

#flash-message div {
    text-align: center; 
}

div.viewimg-border, div.card, #comment-box-text {
    background-color: #161616;
    border-radius: 1.5em;
}

#comment-box-text {
    background-color: #161616;
    border-radius: .5em;
    color: white;
;}

div.card {
    outline-color: #edf0f1;
}
