<a href="/"><img class="logo" src="../../../public/images/logo.png" alt="logo"></a>
<nav>
    <ul class="nav_links">
        {{#if logged}}
        <li><a id = "logout-button">Log Out</li>
        {{else}}
        <li><a href="/login" id = "login-button">Login</li>
        {{/if}}
        <li><a href="/registration">Sign Up</li>
        <li><a href="/postimage">Post Image</li>
    </ul>
</nav>
<a class="cta" href="#"><button>Contact</button></a>