<script src="https://kit.fontawesome.com/6ab738ffee.js" crossorigin="anonymous"></script>
<a href="/"><img class="logo" src="../../../public/images/logo.png" alt="logo"></a>
<nav>
    <ul class="nav_links">
        {{#if logged}}
        <li><a id="logout-button">Log Out</li>
        {{else}}
        <li><a href="/login" id="login-button">Login</li>
        {{/if}}
        <li><a href="/registration">Sign Up</li>
        <li><a href="/postimage">Post Image</a></li>
    </ul>
</nav>
<div class="search_bar">
    <table class="elementsContainer">
        <tr>
            <td>
                <input type="text" placeholder="Search" class="search">
            </td>
            <td>
                <a href="#"><i class="fas fa-search"></i>
                </a>
            </td>
        </tr>
    </table>
</div>

<a class="cta" href="https://gmail.com"><button>Contact</button></a>